doctype
html(lang="es")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="")
    meta(name="keywords" content="")
    meta(name="author" content="")
    meta(name="robots" content="")

    title Template Static Project

    link(rel="shortcut icon" href="favicon.ico")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css")

  body
    section.b-main-container

      block header
        include _header

      div.b-main-wrapper
        block content

      block footer
        include _footer
