extends templates/_layout

block content

  section(class="bienvenida")
    div(class="container")
      div(class="bienvenida-text-1")
        h1 Collective Design
        p Realización de Diseños Web
      div(class="bienvenida-text-2")
        p "Sueña, explora y crea experiencias digitales progresivas"

    div(class="divisor")
      div(class="container-fluid")
        div(class="row")
          p Diseñamos geniales páginas web y todo tipo de productos interactivos de principio a fin.
      div(class="container-fluid")
        div(class="triangulo-abajo")
